@{
	ViewData["Title"] = "Forside";
}

<div class="jumbotron whitefont boxcolor">
	<p class="customheadline">Hej og velkommen til mit digitale CV</p>
	<p class="latofont">
		Er skrevet i ASP Net Core 3.1 med en dertilhørende MSSQL server. Siderne henter data fra databasen, så dette er den eneste side med statisk tekst.
		Har fulgt Microsofts naming conventions, og har opdelt projektet efter "three layer architecture", og er selvfølgelig lavet efter "mobile first"
		<br /><br />
		Det kræver at man som bruger skal have rollen admin, for at må tilgå siden hvor man registrer en ny bruger.
		Og det sammr gør sig gældende for admin panelet. Dette panel er lavet så det er nemmere og opdatere data, når tiden er inde til det.
	</p>
</div>