<div class="jumbotron whitefont boxcolor">
	<p style="font-size: 2rem; line-height:1.2">Hej og velkommen til mit digitale CV</p>
	<p>
		Er skrevet i ASP Net Core 3.1 med en dertilhørende MSSQL server. Resten af siderne henter information fra databasen og viser dem efterfølgende. 
		Har fulgt Microsofts naming conventions, og har opdelt projektet efter "three layer architecture". Og er selvfølgelig lavet efter "mobile first"
		<br /><br />
		Med roller har jeg lavet det sådan at registrerer bruger metoden, kræver admin.
		Og tli sidst men ikke mindst er der lavet et admin panel som også kræver admin rollen, dette er lavet for at gøre det nemmere og opdater data, når tiden er inde til det.
	</p>
</div>