@model DigitalCV.Web.Models.ViewModels.MiscellaneousInfo.MiscellaneousInfoViewModel

@{
	ViewData["Title"] = "Andet information";
}

<div class="jumbotron boxcolor whitefont">

	<div class="row">
		<div class="col-5">
			Certifikater
		</div>
		<div class="col-7">
			<ul style="list-style-type:disc; font-size:13px">

				@foreach (var certificate in Model.Certificates)
				{
					<li>@certificate.CertificateName</li>
				}
			</ul>
		</div>
	</div>

	<div class="row" style="font-size:18px; color:#01A1BB; border-bottom: 1px solid #01a1bb">
		<div class="col-5">
			Sprog
		</div>
		<div class="col-7">

		</div>
	</div>

	<br />

	<div class="row">
		@foreach (var langauge in Model.Languages)
		{
			<div class="col-5">

				@langauge.LanguageText

			</div>
			<div class="col-7">
				<ul style="list-style-type:disc; font-size:13px">

					<li>@langauge.LevelOfLanguage</li>
				</ul>
			</div>
		}
	</div>

</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
	$(document).ready(function () {
		$('.navbar-nav .misc').addClass('active');
	});
</script>