html,
body {
	height: 100%;
	/*background-color: #333;*/
	/*box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);*/
	background-image: url(../wallpaper.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: Courgette;
}

/* Center login box*/

.container {
	height: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.box-2 {
	flex: 1;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Login card CSS */

.cardbody {
	text-align: center;
}

.boxcolor {
	background-color: rgba(0,0,0,0.6) !important;
}

/*Custom font*/

@font-face {
	font-family: Courgette;
	src: url(/fonts/Courgette-Regular.ttf);
}

/* Checkbox color */
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
	background-color: #104F60;
}


/* Login page */

.headline {
	text-align: center;
	color: #F5F5F5;
}

.whitefont {
	color: white;
}

.inputgroup {
	color: #01A1BB;
	background: white;
	border: 0;
}

.formcontrol {
	border: 0;
}

.cardfooter {
	border-top: 1px white solid;
}

.loginbutton {
	background-color: #01A1BB;
	border-color: #01A1BB;
}

/* Responsive design */

@media (max-width: 320px) {
	.headline {
		margin: 0 !important;
	}
}

@media (min-width: 576px) {
	.card {
		max-width: 450px;
	}
}

/* Remove bullet in validation dic, and center content */

.validation-summary-errors ul {
	list-style: none;
	margin-left: -40px
}

/* Center nav links in navigation bar */

.topnav-centered {
	float: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 991px) {
	.topnav-centered {
		position: relative;
		top: 0;
		left: 0;
		transform: none;
	}
}

@media screen and (max-width: 533px) {
	.itbutton {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 320px) {
	.miscbutton {
		margin-bottom: 10px;
	}
}

/* Center content */
.center {
	display: flex;
	justify-content: center;
}

.highlightfont {
	color: Highlight;
}

.redfont {
	color: red;
}
